* {
  margin: 0 auto;
}
body {
  background: white;
}
#homelogo{
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}
.logo img {
  margin-left: 30%;
  margin-top: 35%;
  width: 41%;
}
.logo h2 {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
.forward{
  display: grid;
  margin-top: 105%;
  border: 0px solid black;
  background: rgb(52, 209, 214);
  width: 30%;
  padding: 7px;
  border-radius: 15px;
  box-shadow: 0px 1px 1px 1px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.kisspng img {
  width: 8%;
  margin-top: 9%;
  margin-left: 25px;
}
.icon img {
  width: 9%;
  margin-left: 85%;
  margin-top: -10%;
  margin-bottom: 20px;
}
.shop {
  margin-top: 40px;
  margin-left: 55px;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.search {
  width: 85%;
  margin-top: 15px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
}
/*box jordan------------------------------------------------------*/
.boxbig {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.homelogo2
{
  background: rgb(255, 255, 255);
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;
  
}

.box1 {
  border: 0px solid yellow;
  background: rgb(216, 216, 18);
  width: 70%;
  height: 230px;
  border-radius: 15px;
  margin-left: 55px;
  margin-top: 50px;
  box-shadow: 0px 4px 3px black;
  
}

.box1 h4 {
  margin: 5px;
}
.box1 h3 {
  margin-top: -10px;
  margin-left: 75px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.box1 img {
  width: 110%;
  transform: rotate(-20deg); /* ផ្អៀងទៅឆ្វេង 15ដឺក្រេ */
  margin-left: -3px;
  margin-top: -50px;
}
.box2 {
  border: 0px solid yellow;
  background: rgb(195, 196, 202);
  width: 70%;
  height: 190px;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 50px;
  box-shadow: 0px 4px 3px black;
}
.box2 h3 {
  margin-top: -40px;
  margin-left: 75px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.box2 h4 {
  margin: 5px;
}
.box2 img {
  width: 109%;
  transform: rotate(-20deg);
  margin-left: -5px;
  margin-top: -60px;
}

.box3 {
  border: 0px solid yellow;
  background: rgb(72, 78, 174);
  width: 70%;
  height: 190px;
  border-radius: 15px;
  margin-left: 55px;
  margin-top: 15px;
  box-shadow: 0px 4px 3px black;
}
.box3 h4 {
  margin: 5px;
}
.box3 h3 {
  margin-top: -10px;
  margin-left: 75px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.box3 img {
  width: 110%;
  transform: rotate(-20deg); /* ផ្អៀងទៅឆ្វេង 15ដឺក្រេ */
  margin-left: -3px;
  margin-top: -50px;
}

.box4 {
  border: 0px solid yellow;
  background: rgb(31, 164, 80);
  width: 70%;
  height: 230px;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: -25px;
  box-shadow: 0px 4px 3px black;
}
.box4 h4 {
  margin: 5px;
}
.box4 h3 {
  margin-top: -10px;
  margin-left: 75px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.box4 img {
  width: 110%;
  transform: rotate(-20deg); /* ផ្អៀងទៅឆ្វេង 20ដឺក្រេ */
  margin-left: -3px;
  margin-top: -10px;
}
.home {
  margin-right: -45px;
}
/*.home img {
  margin-top: 35px;
  width: 35px;
  border: 0px solid black;
  border-radius: 35px;
  padding: 10px;
  background: rgb(38, 232, 238);
  box-shadow: 0px 3px 5px black;
}*/
.home button{
  margin: 60px;
  margin-bottom: 20px;
  margin-right: 10px;
  background: rgb(5, 205, 227);
  border-radius: 10px;
  width: 70px;
  border: none;
  padding: 3px;
}

.boder1 img{
  width: 8%;
  margin-top: 14%;
  margin-left: 25px;

}
.border2 img{
  width: 9%;
  margin-left: 85%;
  margin-top: -22%;
  margin-bottom: 20px;
}
.color{
    
    margin: 5px;
    background-color: rgb(230, 204, 12);
    border-radius: 15px;
    border: 1px solid black;
}
.jordanbig1 img{
    width: 60%;
    margin-top: -40px;
    margin-left: 40px;
    transform: rotate(-20deg); /* ផ្អៀងទៅឆ្វេង 20ដឺក្រេ */

}
.white{
  background: white;
  border-radius: 10px;
  padding: 20px;

}
.white2{
  margin-left: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.number1{
  border: 0px solid wheat;
  background: rgb(170, 170, 167);
  margin: 25px;
  width: 35%;
  border-radius: 10px;
  display: grid;
  
}
.numbers{
  margin-left: 75%;
  margin-top: -55px;
}
.size {
  padding: 20px;
  margin: 5px;
  
}
.size samp{
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
}
.paragab{
  
  margin: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.paragab samp{
  color: red;
  font-size: 17px;
}
.imgbd svg{
  border: 2px solid rgb(0, 217, 255);
  border-radius: 10px;
  margin: 20px;
  margin-top: 85px;
  
}
.add{
  background: rgb(0, 217, 255);
  color: white;
  text-align: center;
  width: 40%;
  padding: 6px;
  border-radius: 10px;
  margin-top: -65px;
  margin-left: 50%;
}



